<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./assigts/css/Normalize.css">
  <link rel="stylesheet" href="./assigts/css/style.css">
</head>

<body>
  <div class="timeandcontact">
    <p>Thursday January 3, 2019</p>
    <p>About Contact Us</p>
  </div>
  <nav>
    <ul>
      <a href="#">
        <li>Home</li>
      </a>
      <a href="#">
        <li>Life</li>
      </a>
      <a href="#">
        <li>Culture</li>
      </a>
      <a href="#">
        <li>What's new</li>
      </a>
      <a href="#">
        <li>Join Us</li>
      </a>
      <a href="#">
        <li>Contact Us</li>
      </a>
    </ul>
  </nav>
  <main>
    <header>
      <div class="title-big1">
        <div class="titlephoto">
          <h1>10 Things to do before you die</h1>
          <p>Dec 22, 2018</p>
        </div>
      </div>
      <div class="title-big2">
        <div class="titlephoto">
          <h1>How I learnt to let go </h1>
          <p>Dec 22, 2018</p>
        </div>
      </div>
      <div class="title-small1">
        <h4>this is about</h4>
      </div>
      <div class="title-small2">
        <h4>You were right</h4>
      </div>
      <div class="title-small3">
        <h4>Here we are</h4>
      </div>
      <div class="title-small4">
        <h4>Before I go</h4>
    </header>
    <div class="activities">
      <section class="image-info">
        <div class="titlename">
          <div class="wraptitlename">
            <h2>READ LATEST</h2>
          </div>
        </div>
        <div class="gridimage">
          <div class="imageitem1">
            <figure>
              <p>Milan</p>
            </figure>
            <h3>We are in this together</h3>
            <p>Nov 7, 2019</p>
          </div>
          <div class="imageitem2">
            <figure>
              <p>Vancouver</p>
            </figure>
            <h3>Changing the world for you</h3>
            <p>Nov 7, 2019</p>
          </div>
          <div class="imageitem3">
            <figure>
              <p>Lagos</p>
            </figure>
            <h3>Together we are strong</h3>
            <p>Nov 7, 2019</p>
          </div>
          <div class="imageitem4">
            <figure>
              <p>Saint Petersburg</p>
            </figure>
            <h3>How to overturn here</h3>
            <p>Nov 7, 2019</p>
          </div>
          <a href="#">
            <p>Load More Posts</p>
          </a>
        </div>
      </section>
      <aside class="staywithus">
        <div class="contact">
          <div class="titlename">
            <div class="wraptitlename">
              <h2>STAY WITH US</h2>
            </div>
          </div>
          <div class="icon">
            <div class="iconwrap">
              <figure class="fb">
                <i class="fab fa-facebook-f"></i>
              </figure>
              <p>Facebook</p>
            </div>
            <div class="iconwrap">
              <figure class="insta">
                <i class="fab fa-instagram"></i>
              </figure>
              <p>Instagram</p>
            </div>
            <div class="iconwrap">
              <figure class="twit">
                <i class="fab fa-twitter"></i>
              </figure>
              <p>Twitter</p>
            </div>
          </div>
        </div>
      </aside>
      <aside class="author">
        <div class="titlename">
          <div class="wraptitlename">
            <h2>AUTHORS</h2>
          </div>
        </div>
        <div class="info-author">
          <div class="description-author">
            <img src="./assigts/images/author/avt1.png" alt="avt1">
            <div class="name-author">
              <h5>Najam Shexikh</h5>
              <p>Wanderer</p>
            </div>
          </div>
          <div class="description-author">
            <img src="./assigts/images/author/avt2.png" alt="avt2">
            <div class="name-author">
              <h5>Zara Baqtool </h5>
              <p> Photographer</p>
            </div>
          </div>
          <div class="description-author">
            <img src="./assigts/images/author/avt2.png" alt="avt3">
            <div class="name-author">
              <h5>Dr. Hifza Khan</h5>
              <p> Doctor of medicine</p>
            </div>
          </div>
          <div class="description-author">
            <img src="./assigts/images/author/avt4.png" alt="avt4">
            <div class="name-author">
              <h5>Sadiq Naeem</h5>
              <p> App Developer</p>
            </div>
          </div>
        </div>
      </aside>
    </div>
    <section class="videos">
      <div class="wraptitlename">
        <h2>VIDEOS</h2>
      </div>
      <div class="watchvideo">
        <figure class="video1">
          <img src="./assigts/images/videos/playbutton.png" alt="play">
          <h4>this is about</h4>
        </figure>
        <figure class="video2">
          <img src="./assigts/images/videos/playbutton.png" alt="play">
          <h4>You were right</h4>
        </figure>
        <figure class="video3">
          <img src="./assigts/images/videos/playbutton.png" alt="play">
          <h4>Here we are</h4>
        </figure>
        <figure class="video4">
          <img src="./assigts/images/videos/playbutton.png" alt="play">
          <h4>Before I go</h4>
        </figure>
      </div>
    </section>
    <article>
      <section>
        <div class="titlename">
          <div class="wraptitlename">
            <h2>HEADLINES</h2>
          </div>
        </div>
        <div class="itemnewcommon">
          <figure>
            <img src="./assigts/images/headline/pic1.png" alt="">
          </figure>
          <div class="tipsinfo">
            <h2>Tips for making things better</h2>
            <h5>Here we have the ultra advanced tips to perform better at anything</h5>
            <p>2 June 9:23 A.M</p>
          </div>
        </div>
        <div class="itemnewcommon">
          <figure>
            <img src="./assigts/images/headline/pic1.png" alt="">
          </figure>
          <div class="tipsinfo">
            <h2>Tips for making things better</h2>
            <h5>Here we have the ultra advanced tips to perform better at anything</h5>
            <p>2 June 9:23 A.M</p>
          </div>
        </div>
        <div class="itemnewcommon">
          <figure>
            <img src="./assigts/images/headline/pic1.png" alt="">
          </figure>
          <div class="tipsinfo">
            <h2>Tips for making things better</h2>
            <h5>Here we have the ultra advanced tips to perform better at anything</h5>
            <p>2 June 9:23 A.M</p>
          </div>
        </div>
      </section>
      <aside>
        <div class="titlename">
          <div class="wraptitlename">
            <h2>SUBCRIBER</h2>
          </div>
          <h5>Subscribe to our newsletter to stay updated on the trends</h5>
          <form action="#">
            <input type="email" placeholder="Enter your email" name="email">
            <button type="submit">Submit</button>
          </form>
      </aside>
    </article>
  </main>
  <footer>
    <p> Sketch file made by Fatik. <br> Free to use for personal and commercial purposes</p>
  </footer>
</body>

</html>