body {
  background-color: #f2f2f2;
}
.wrapper {
  background-color: #fff;
 width: 1400px;
 height: 815px;
 margin: 0 auto;
}
.container {
  width: 484px;
  height: 455px;
  margin: 0 auto;
  padding: 0 20px;
}