$font-stack : 'Poppins', sans-serif;
$primary-color : #6F2C8D;
body {
  background-color: #F2F2F2;
  font-family: $font-stack;
  .container {
    padding: 0px;
    background-color: #fff;
    width: 375px;
    overflow: hidden;
    
    figure {
      width: 249px;
      height: auto;
    }
    .boxtab {
      width: 312px;
      height: 272px;
    }
  }

}
